In [78]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [2]:
url = "https://finance.naver.com/sise/"

page = urlopen(url)
soup = BeautifulSoup(page, 'html.parser')

In [3]:
soup.title

In [22]:
soup.find('ul',id='popularItemList').find_all('li')[0]

<li><em>1.</em><a href="/item/main.nhn?code=293490" onclick="clickcr(this,'boa.list','293490','1',event)">카카오게임즈</a><span class="up">70,800</span><em class="bu_p bu_pup"><span class="blind">상승</span></em></li>

In [37]:
### 인기 검색 종목 부분

pop = soup.find('ul',id='popularItemList')
pop_list = pop.find_all('li')

stock_names = []
stock_current_prices = []
up_downs = []

for one in pop_list:
    stock_name = one.find('a').text
    stock_names.append(stock_name) # 종목명
    
    stock_price = one.find('span').text
    stock_current_prices.append(stock_price) # 종목가격
    
    up_down = one.find('span', class_='blind').text
    up_downs.append(up_down) # 상승/하락
    
#     code = one.find('a')['href'][-6:]
#     base_url='https://finance.naver.com/item/main.nhn?code='+code
    
#     page2 = urlopen(base_url)
#     soup2 = BeautifulSoup(page2, 'html.parser')
#     print(soup2.title)
    
#     soup2.

<title>카카오게임즈 : 네이버 금융</title>
<title>진원생명과학 : 네이버 금융</title>
<title>이연제약 : 네이버 금융</title>
<title>삼성전자 : 네이버 금융</title>
<title>카카오 : 네이버 금융</title>
<title>펄어비스 : 네이버 금융</title>
<title>HMM : 네이버 금융</title>
<title>SK바이오팜 : 네이버 금융</title>
<title>두산중공업 : 네이버 금융</title>
<title>바이오니아 : 네이버 금융</title>

In [38]:
import pandas as pd

In [39]:
dat = {'종목명':stock_names,'현재가':stock_current_prices, '상하여력':up_downs}
dat = pd.DataFrame(dat)
dat

      종목명      현재가 상하여력
0  카카오게임즈   70,800   상승
1  진원생명과학   48,700   상승
2    이연제약   57,500   상승
3    삼성전자   80,100   보합
4     카카오  159,500   하락
5    펄어비스   84,300   상승
6     HMM   45,050   상승
7  SK바이오팜  134,500   상승
8   두산중공업   24,750   하락
9   바이오니아   25,650   상승

### Top종목

In [159]:
top_list = soup.select('#siselist_tab_0')
print(top_list)

[<table cellpadding="0" cellspacing="0" class="type_2" id="siselist_tab_0" summary="탑종목 상한가 리스트">
<caption>상한가</caption>
<col width="4%"/>
<col width="4%"/>
<col width="4%"/>
<col width="*"/>
<col width="7%"/>
<col width="9%"/>
<col width="7%"/>
<col width="12%"/>
<col width="12%"/>
<col width="12%"/>
<col width="12%"/>
<tr>
<th>순위</th>
<th>연속</th>
<th>누적</th>
<th>종목명</th>
<th>현재가</th>
<th class="tr">전일비  </th>
<th>등락률</th>
<th>거래량</th>
<th>시가</th>
<th>고가</th>
<th>저가</th>
</tr>
<tr><td class="blank_08" colspan="10"></td></tr>
<tr>
<td class="tc"><img alt="01" height="11" src="https://ssl.pstatic.net/imgstock/images5/ico_n01.gif" width="11"/></td>
<td class="number">1</td>
<td class="number">2</td>
<td><a class="tltle" href="/item/main.nhn?code=014285" onclick="clickcr(this, 'bqu.2', '014285', '1', event)">금강공업우</a></td>
<td class="number">18,950</td>
<td class="number">
<em class="bu_p bu_pup2" style="margin:0 4px 0 0"><span class="blind">상한</span></em><span class="tah p11 red01">
				4,350
				</span>
</td>
<td class="number">
<span class="tah p11 red01">
				+29.79%
				</span>
</td>
<td class="number">211,792</td>
<td class="number">14,800</td>
<td class="number">18,950</td>
<td class="number">14,800</td>
</tr>
<tr>
<td class="tc"><img alt="01" height="11" src="https://ssl.pstatic.net/imgstock/images5/ico_n02.gif" width="11"/></td>
<td class="number">1</td>
<td class="number">1</td>
<td><a class="tltle" href="/item/main.nhn?code=041960" onclick="clickcr(this, 'bqu.2', '041960', '2', event)">코미팜</a></td>
<td class="number">14,350</td>
<td class="number">
<em class="bu_p bu_pup2" style="margin:0 4px 0 0"><span class="blind">상한</span></em><span class="tah p11 red01">
				3,300
				</span>
</td>
<td class="number">
<span class="tah p11 red01">
				+29.86%
				</span>
</td>
<td class="number">5,999,523</td>
<td class="number">11,000</td>
<td class="number">14,350</td>
<td class="number">11,000</td>
</tr>
<tr>
<td class="tc"><img alt="01" height="11" src="https://ssl.pstatic.net/imgstock/images5/ico_n03.gif" width="11"/></td>
<td class="number">2</td>
<td class="number">6</td>
<td><a class="tltle" href="/item/main.nhn?code=044180" onclick="clickcr(this, 'bqu.2', '044180', '3', event)">KD</a></td>
<td class="number">2,455</td>
<td class="number">
<em class="bu_p bu_pup2" style="margin:0 4px 0 0"><span class="blind">상한</span></em><span class="tah p11 red01">
				565
				</span>
</td>
<td class="number">
<span class="tah p11 red01">
				+29.89%
				</span>
</td>
<td class="number">5,638,616</td>
<td class="number">2,350</td>
<td class="number">2,455</td>
<td class="number">2,240</td>
</tr>
<tr>
<td class="tc"><img alt="01" height="11" src="https://ssl.pstatic.net/imgstock/images5/ico_n04.gif" width="11"/></td>
<td class="number">1</td>
<td class="number">1</td>
<td><a class="tltle" href="/item/main.nhn?code=187270" onclick="clickcr(this, 'bqu.2', '187270', '4', event)">신화콘텍</a></td>
<td class="number">6,130</td>
<td class="number">
<em class="bu_p bu_pup2" style="margin:0 4px 0 0"><span class="blind">상한</span></em><span class="tah p11 red01">
				1,410
				</span>
</td>
<td class="number">
<span class="tah p11 red01">
				+29.87%
				</span>
</td>
<td class="number">3,511,784</td>
<td class="number">6,130</td>
<td class="number">6,130</td>
<td class="number">5,850</td>
</tr>
<tr>
<td class="tc"><img alt="01" height="11" src="https://ssl.pstatic.net/imgstock/images5/ico_n05.gif" width="11"/></td>
<td class="number">1</td>
<td class="number">1</td>
<td><a class="tltle" href="/item/main.nhn?code=331380" onclick="clickcr(this, 'bqu.2', '331380', '5', event)">유진스팩5호</a></td>
<td class="number">4,900</td>
<td class="number">
<em class="bu_p bu_pup2" style="margin:0 4px 0 0"><span class="blind">상한</span></em><span class="tah p11 red01">
				1,130
				</span>
</td>
<td class="number">
<span class="tah p11 red01">
				+29.97%
				</span>
</td>
<td class="number">12,111,630</td>
<td class="number">3,770</td>
<td class="number">4,900</td>
<td class="number">3,320</td>
</tr>
<tr><td class="blank_06" colspan="10"></td></tr>
<tr><td class="division_line" colspan="10"></td></tr>
<tr><td class="blank_08" colspan="10"></td></tr>
<tr>
<td class="tc"><img alt="01" height="11" src="https://ssl.pstatic.net/imgstock/images5/ico_n06.gif" width="11"/></td>
<td class="number">1</td>
<td class="number">2</td>
<td><a class="tltle" href="/item/main.nhn?code=379390" onclick="clickcr(this, 'bqu.2', '379390', '6', event)">이성씨엔아이</a></td>
<td class="number">9,780</td>
<td class="number">
<em class="bu_p bu_pup2" style="margin:0 4px 0 0"><span class="blind">상한</span></em><span class="tah p11 red01">
				1,270
				</span>
</td>
<td class="number">
<span class="tah p11 red01">
				+14.92%
				</span>
</td>
<td class="number">9</td>
<td class="number">9,780</td>
<td class="number">9,780</td>
<td class="number">9,100</td>
</tr>
<tr><td class="blank_06" colspan="10"></td></tr>
<tr><td class="division_line" colspan="10"></td></tr>
</table>]

In [213]:
top_list = soup.select('#siselist_tab_0')
# print(top_list)

idxs = [] # 순위
continuities = [] # 연속
accumulates = [] # 누적
top_stock_names = [] # 종목명
top_stock_name_prices = [] # 현재가
com_with_yess = [] # 전일비
fluc_rates = [] # 등락률
trad_volumes = [] # 거래량
starts = [] # 시가
highs = [] # 고가
lows = [] # 저가
 
for one in top_list:
    i = one.find_all('img')
    for idx in range (0,6):
        num = i[idx]['src'][-5]
        idxs.append(num)

    con = one.find_all('td',class_='number')
    print(con[0])
    print(con[10])
    print(con[19])

<td class="number">1</td>
<td class="number">1</td>
<td class="number">6</td>

In [ ]:
##siselist_tab_0 > tbody > tr:nth-child(3) > td:nth-child(2)
<td class="number">1</td>
//*[@id="siselist_tab_0"]/tbody/tr[4]/td[2]

#siselist_tab_0 > tbody > tr:nth-child(4) > td:nth-child(2)